

@Html.Hidden("view", @"~\Views\TestandDevelopment\Index.cshtml")


<div class="jumbotron">
    <h1>Development</h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Development</li>
    </ol>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Networks</h2>
        <p>Development area for networking</p>
        <p>@Html.ActionLink("Http Development", "HttpDevelopment", "TestandDevelopment", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Test Area 1</h2>
        <p>Stuff goes hare</p>
        <p>@Html.ActionLink("Do Stuff", "Index", "TestandDevelopment", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Test Area 1</h2>
        <p>Stuff goes hare</p>
        <p>@Html.ActionLink("Do Stuff", "Index", "TestandDevelopment", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

