@model Haptic_Theatre_Vibings_Control.Models.HttpViewModel

@Html.Hidden("view", @"~\Views\Home\Index.cshtml")

<div class="jumbotron">
    <h1>Vibings Controller</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Live Control</h2>
        <p>
            @Html.ActionLink("Open Live Controller", "Index", "Live", null, new { @class = "btn btn-default" })
            <div class="btn btn-success">System is running in Show mode</div>
        </p>
        <p></p>

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Mode Quick Select</th>
            </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Spin Clock", "Mode_002", "Live", new { colourHex = "251346", loopdelay = "200" }, new {@class = "btn - success" })
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Spin AntoClock", "Mode_003", "Live", new { colourHex = "8b550f", loopdelay = "50" }, new {@class = "btn - success"})
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Dark Clock", "Mode_004", "Live", new { colourHex = "1a8b0f", loopdelay = "50" }, new {@class = "btn - success"})
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Dark Anti", "Mode_005", "Live", new { colourHex = "0f618b", loopdelay = "10" }, new { @class = "btn - success" })
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Full On Green", "Mode_001", "Live", new { colourHex = "00ff00" }, new { @class = "btn - success" })
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Full On Blue", "Mode_001", "Live", new { colourHex = "0000ff" }, new {@class = "btn - success"})
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Cheer Pom Pom", "Mode_006", "Live", new {colourHex = "8b0f6c", loopdelay = "50"}, new {@class = "btn - success"})
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Happy Trails", "Mode_007", "Live", new { colourHex_01 = "444400", colourHex_02 = "333300", colourHex_03 = "222200", colourHex_04 = "111100", loopdelay = "50" }, new { @class = "btn - success" })
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Buzzin'", "Mode_008", "Live", null, new {@class = "btn - success"})
                    </td>
                </tr>
            <tr class="info">
                <td>
                    @Html.ActionLink("Stop Buzzin'", "Mode_009", "Live", null, new {@class = "btn - success"})
                </td>
            </tr>
                <tr class="info">
                    <td>
                        @Html.ActionLink("Pom Pom Buzz", "Mode_011", "Live", new { colourHex = "8b0f6c", loopdelay = "120" }, new { @class = "btn - success" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2>Modes</h2>
        <p>
            @Html.ActionLink("Open Mode Management", "Index", "Modes", null, new { @class = "btn btn-default" })
        </p>
    </div>

    <div class="col-md-4">
        <h2>Test and Develoment</h2>
        <p>@Html.ActionLink("Open Test and Development", "Index", "TestandDevelopment", null, new {@class="btn btn-default"})</p>
    </div>
</div>